<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">METODOS NUMERICOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHito2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        HITO 2
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHito2">
                        <li><a class="dropdown-item" href="/cambio_base">CAMBIO DE BASE</a></li>
                        <li><a class="dropdown-item" href="/sistemas_no_lineales">NO_LINEALES</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHito3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        HITO 3
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHito3">
                        <li><a class="dropdown-item" href="/newton">NEWTON</a></li>
                        <li><a class="dropdown-item" href="/seleccionar_tamano_gauss_seidel">Gauss Seidel</a></li>
                        <li><a class="dropdown-item" href="/seleccionar_tamano_jacobi">Jacobi</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHito3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        HITO 4
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHito4">
                        <li><a class="dropdown-item" href="/seleccionar_tamano_sor_gauss_seidel">SOR GAUSS</a></li>
                        <li><a class="dropdown-item" href="/seleccionar_tamano_sor_jacobi">SOR JACOBI</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHito3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        HITO 5
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownHito4">
                        <li><a class="dropdown-item" href="/biseccion">BISECCION</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Botón de Modo Oscuro al final a la derecha -->
        <button class="btn" id="dark-mode-toggle"><i class="fas fa-moon"></i> Modo Oscuro</button>
    </div>
</nav>
